<!--
-->
<launch>
	<param name="use_sim_time" value="true" />

        <node pkg="gps_odometry" type="gps_odometry" name="gps_odometry" output="screen">
            <param name="gpsTopic" value="/gps/global"/>
	    <param name="gps_frame_id" value="/map"/>
	    <param name="angle_to_north" value="-32.000" />
	    <param name="offset" value="0.588" />
        </node>

</launch>
